on: push
permissions:
  contents: write
jobs:
  npm-build:
    name: npm_build_workflow
    runs-on: ubuntu-latest
    steps:
    - name: read repo
      uses: actions/checkout@v4
    - name: 安装依赖和打包
      run: 
        npm install
        npm run build
    - name: 部署
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: gh-pages
        folder: build
